[tool.ruff]
line-length = 100
target-version = "py311"
extend-exclude = [
    ".venv",
    "env",
    "venv",
    "__pycache__",
    ".ruff_cache"
]

[tool.ruff.lint]
select = ["E", "F", "I", "B", "UP"]
ignore = ["E501"]

[tool.ruff.format]
quote-style = "double"
indent-style =  "space"
line-ending = "auto"